.timeline {
    height: 100%;
}

.timeline img {
    height: 100%;
}

.cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid red;
}

.selection {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: rgb(64,64,127);
    opacity: 0.5;
}