.timeline_controls {
    order: 1;
    flex-grow: 0;

    position: relative;
    background-color: yellow;
}

.timing_info {
    display: inline-block;
}


.track_selection {
    position: absolute;
    top: 0;
    right: 0;
}


/* https://stackoverflow.com/a/27053825/3356840 */
.timeline_controls button.timeline_play::after {
    content: "►";
}
.timeline_controls button.timeline_pause::after {
    content: "❙❙";
}
.timeline_controls button.timeline_stop::after {
    content: "◼";
}
.timeline_controls button.timeline_frame-back::after {
    content: "◃";
}
.timeline_controls button.timeline_frame-forward::after {
    content: "▹";
}
