.timeline {
    order: 2;
    flex-grow: 1;

    position: relative;
    height: 0;

    overflow-x: scroll;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
}

.timeline img.img_media {
    /* todo: flex? */
    flex-grow: 0;
}

.timeline img.img_lights {
    height: inherit;
    flex-grow: 1;
    /* todo: flex? */
    /* height: 100%; */
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
}

.timeline .cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid red;
}

.timeline .selection {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: rgb(64,64,127);
    opacity: 0.5;
}